body {
    font-size: 80%;
    font-family: droid, helvetica, verdana, sans-serif;
}

/* Layout */
#wrapper {
    width: 72em;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
}

#header {
    max-width: 100%;
    height: 85px;
    border-bottom: 2px ridge #CCCCCC;
    margin-bottom: 10px;
}

#leftcol {
    width: 18em;
    max-width: 23%;
    float: left;
    /* debug color 
    background: #ddd;*/
}

#content {
    width: 52em;
    max-width: 75%;
    float: right;
    /* debug color 
    background: #efefef;*/
    padding: 0.5em;
}

#widecontent {
    max-width: 100%;
    padding: 0.5em;
}

#footer {
    clear: both;
    max-width: 100%;
    border-top: 2px ridge #CCCCCC;
    margin-top: 10px;
    /* debug color 
    background: #69d;*/
}

/* Float ruler */
.clearfloats {
    clear: both;
    height: 0em;
}

/* Header */
#branding {
}

#logo {
    float: left;
}

#search {
    float: right;
    margin-right: 10px
}

#search_form {
    text-align: right;
}

#nav {
  clear: both;
  margin-bottom: 10px;
}

h1 {
 clear:both;
}

#nav .lt ul {
  padding: 10px 10px 10px 0px;
  font-size: 2em;
}

#nav .lt ul li {
  display: inline;
  background-image: url("blksquare.gif");
  background-position: 0px 10px;
  background-repeat: no-repeat;
  display: inline;
  padding-left: 18px;
}

.rt a{
    padding-right: 0px;
}

.rt ul {
  padding-right: 0px;
}

.readme {
    font-size: 0.9em;
}

.unpack_endpoints li {
    height: 2em; 
}

.List {
    border-top: 1px solid #CCCCCC;
    margin-top: 5px;
    margin-bottom: 10px;
}

.List-entry {
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 15px;
}

.List-contents {
    margin-left: 30px;
}

.Section {
    background: none repeat scroll 0 0 #CCCCCC;
    font-size: 1.3em;
    font-weight: bold;
    height: 23px;
    width: 100%;
}

.todo {
    color: #ff0000;
}

.lt {
    float: left;
}

.rt {
    float: right;
}

.menu {
    display: inline;
    margin-right: 5px;
}

.create_silo label, .alter_silo label, .create_user label {
    display: inline-block;
    margin-bottom: 10px;
    width: 300px;
}

.create_silo  div, .alter_silo div, .metadata div, .create_user div, .update_role div {
    margin-left: 20px;
}

.metadata label {
    display: inline-block;
    margin-top: 10px;
    width: 150px;
}

.metadata ul {
    margin: -1.2em 0px -10px 150px;
    padding: 0px;
}

.metadata li {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    list-style-type: none;
}

.metadata li.subtitle {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    list-style-type: none;
    font-weight: bold;

}

.metadata li div {
    display: inline;
    margin-left: 10px;
}

.update_role label {
    display: inline-block;
    margin-top: 0px;
    width: 150px;
}

.update_role div {
    margin-bottom: 10px;
    margin-left: 40px;
}

.update_user label {
    display: inline-block;
    margin-bottom: 10px;
    width: 150px;
}

.update_user div {
    margin-bottom: 10px;
    margin-left: 40px;
}

