body {
    font-size: 80%;
    font-family: droid, helvetica, verdana, sans-serif;
}

/* Layout */
#wrapper {
    width: 72em;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
}

#header {
    max-width: 100%;
    height: 85px;
    border-bottom: 2px ridge #CCCCCC;
    margin-bottom: 10px;
}

#leftcol {
    width: 18em;
    max-width: 23%;
    float: left;
    /* debug color 
    background: #ddd;*/
}

#content {
    width: 52em;
    max-width: 75%;
    float: right;
    /* debug color 
    background: #efefef;*/
    padding: 0.5em;
}

#widecontent {
    max-width: 100%;
    padding: 0.5em;
}

#footer {
    clear: both;
    max-width: 100%;
    border-top: 2px ridge #CCCCCC;
    margin-top: 10px;
    /* debug color 
    background: #69d;*/
}

/* Float ruler */
.clearfloats {
    clear: both;
    height: 0em;
}

/* Header */
#branding {
}

#logo {
    float: left;
}

#search {
    float: right;
    margin-right: 10px
}

#search_form {
    text-align: right;
}

#nav {
  clear: both;
  margin-bottom: 10px;
}

h1 {
 clear:both;
}

#nav .lt ul {
  padding: 10px 10px 10px 0px;
  font-size: 2em;
}

#nav .lt ul li {
  display: inline;
  background-image: url("blksquare.gif");
  background-position: 0px 10px;
  background-repeat: no-repeat;
  display: inline;
  padding-left: 18px;
}

.rt a{
    padding-right: 0px;
}

.rt ul {
  padding-right: 0px;
}

.readme {
    font-size: 0.9em;
}

.unpack_endpoints li {
    height: 2em; 
}

.List {
    border-top: 1px solid #CCCCCC;
    margin-top: 5px;
    margin-bottom: 10px;
}

.List-entry {
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 15px;
}

.List-contents {
    margin-left: 30px;
}

.Section {
    background: none repeat scroll 0 0 #CCCCCC;
    font-size: 1.3em;
    font-weight: bold;
    height: 23px;
    width: 100%;
}

.todo {
    color: #ff0000;
}

.lt {
    float: left;
}

.rt {
    float: right;
}

.menu {
    display: inline;
    margin-right: 5px;
}

h1, h2, h3, h4, h5, h6
{
clear: both;
color: #045275;
font-style: normal;
font-weight: normal;
letter-spacing: 0.1em;
margin: 1.3em 0px 0.3em 0px;
border-bottom: 1px solid #b5d2df;
}
/* Results Page Specific CSS */

#results {
color: #002147;
font-size: 12px;
margin-bottom: 100px;
margin-left: 180px;
}

#results a {
text-decoration: none;
}

#results .stitle a:visited {
color: #7F007F;
}

span.highlighted_page a {
font-size: 12px !important;
}

.paginated_results {
float: left;
font-size: 12px !important;
}

.paginated_results .pagination_label a {
padding: 4px 6px;
margin: 0 3px 0 0;
text-decoration: none;
color: #002147;
font-size: 12px;
background-color: #999;
}

.paginated_results .highlighted_page a {
color: white !important;
background-color: #002147;
}

.paginated_results .numbers {
margin-right: 50px;
}

#sorting {
float: right;
font-size: 11px;
padding-top: 1px;
}

#sorting span {
margin: 0 0 0 8px;
}

#sorting span a {
color: #999;
}

#sorting span.active a {
color: black;
}

#response_wrapper {
margin-top: 10px;
}

div.response_doc {
margin-top: 10px;
padding-bottom: 20px;
border-bottom: 1px solid #999;
}
.response_doc span.stitle a {
font-weight: bold;
color: #002147;
font-size: 14px;
}
.row {
width: 100%;
clear: both;
}

.label {
font-weight: bold;
color: #002147;
vertical-align: top;
width: 150px;
float:left;
display: inline;
}

.value, .value a, .value a:hover, .value a:active, .value a:visited {
display:inline;
padding-left:2px;
text-align:right;
color: #000000;
text-decoration: none;
font-weight: normal;
}

.rt {
color: #002147;
vertical-align: top;
float:left;
padding-left: 5px;
display: inline;
}

#facet_wrapper {
position: absolute;
width: 160px;
left: 10px;
margin-left: 10px;
top: 250px;
font-size: 11px;
}

#facet_container {
width: 150px;
word-wrap: break-word;
}

.facet_results .subheading {
background: #BBB;
padding: 4px 5px;
border-bottom: 1px solid #002147 !important;
}

.facet_results .facetlist {
background: #EEE;
}
.facet_results .facetlist ul, .facet_results .facetlist p {
margin: 0; padding: 0;
}

.facet_results .subheading a {
text-decoration: none;
color: black;
font-weight: normal;
background: url('fplus.png') no-repeat 0% 60%;
padding-left: 18px;
}

.facet_results .facetlist li {
list-style: none;
}

.facet_results .facetlist a {
text-decoration: none;
}

.facet_chosen {
margin-bottom: 10px;
background: #002147;
color: white;
}

.facet_chosen #remove {
float: left;
background: white;
color: #002147;
border: 0;
padding: 0px 2px;
border-radius: 10px;
font-size: 11px;
font-weight: bold;
}
#current_search {
font-weight: bold;
background: #002147;
color: white;
font-size: 1.2em;
border-bottom: 1px solid white;
padding: 4px 5px;
}

div#link_to_this_search {
margin-top: 20px;
margin-bottom: -15px;
clear: both;
color: #000000;
}

div#link_to_this_search a {
color: #002147;
}

.nomatches {
background-color: rgba(255, 255, 255, 0.7);
color: #000000;
font-size: 1.2em;
margin: 30px 10px 10px 10px;
padding: 15px;
width: 100%;
}

.searchbottom {
margin-bottom: 5px;
margin-top: 10px;
float: left;
font-size: 13px;
color: #002147;
background: white;
width: 100%;
}
.searchtop {
margin-top: 5px;
margin-bottom: 10px;
float: left;
font-size: 13px;
color: #002147;
background: white;
width: 100%;
}

.searchleft {
float: left;
width: 150px;
}

.searchright {
float: right;
width: 250px;
}

.searchmid {
float: left;
text-align: center;
width: 250px;
}

span#searchordering {
float: right;
font-size: 13px;
}

span#searchordering a {
color: #002147;
}

span#searchordering a.active {
color: black;
font-weight: bold;
}
span#itemsppt, span#itemsppb {
color: #002147;
float: right;
}

span#itemsppt a, span#itemsppb a {
color: #002147;
padding: 2px 3px;
margin: 0px 2px;
text-decoration: none;
border: 1px solid #aaa;
}

span#itemsppt a:hover, span#itemsppb a:hover {
color: black;
border: 1px solid #333;
}

span#itemsppt a.active, span#itemsppb a.active {
color: black;
border: 1px solid #666;
background: #FFFF99;
}

span#itemsppt a.active:hover, span#itemsppb a.active:hover {
color: black;
border: 1px solid #333;
background: #FFFF99;
}

.itemsppform {
margin: 0px;
display:inline;
padding: 0px;
}

.itemsppformtext {
margin: 0px;
display:inline;
padding: 0px;
width: 40px;
}

.itemsppformchosen {
color: black;
border: 1px solid #666;
background: #FFFF99;
}

.create_silo label, .alter_silo label, .create_user label {
display: inline-block;
margin-bottom: 10px;
width: 300px;
}

.create_silo  div, .alter_silo div, .metadata div, .create_user div, .update_role div {
margin-left: 20px;
}

.metadata label {
display: inline-block;
margin-top: 10px;
width: 150px;
}

.metadata ul {
margin: -1.2em 0px -10px 150px;
padding: 0px;
}

.metadata li {
margin: 0px 0px 10px 0px;
padding: 0px;
list-style-type: none;
}

.metadata li.subtitle {
margin: 0px 0px 10px 0px;
padding: 0px;
list-style-type: none;
font-weight: bold;

}

.metadata li div {
display: inline;
margin-left: 10px;
}

.update_role label {
display: inline-block;
margin-top: 0px;
width: 150px;
}

.update_role div {
margin-bottom: 10px;
margin-left: 40px;
}

.update_user label {
display: inline-block;
margin-bottom: 10px;
width: 150px;
}

.update_user div {
margin-bottom: 10px;
margin-left: 40px;
}

