
/*
###  this is  styles/squirrelMonkey.css  ### 

*/



#page {

 margin: 0px auto;

}

#search {

padding: 0px;
position: absolute;
right: 6px;
text-align: right;
top: -3px;
}

#search div
{
display: inline;
padding: 0px;
margin: 0px;
}

#search label
{

position: absolute;
top: -9000px;
}


/* drop shadow on main page blocks */
header.pageHeader,
.main,
footer.site {
	
   		
  	-webkit-box-shadow: #b9c8d5 0.5em 0.5em 0.5em; /* Chrome Safari */
	-moz-box-shadow: #b9c8d5 0.5em 0.5em 0.5em; /* Firefox F3.5+ */
	 box-shadow: #b9c8d5 0.5em 0.5em 0.5em; /* Opera 10.5, IE 9.0 */


}





.content .wrapper {
  background-color:  #fff;

}

.content footer {

  clear: both;
}

.content a
{
text-decoration: underline;
}


.main
{
  border: 1px solid #dfe2e4;
  margin: 10px 0px;
  padding: 10px;
}

.content footer section
{


  float: right;
  width: 49%;
}

footer.site
{
margin: 20px 0px;

clear: both;


}



footer.site
{
padding: 10px;
}



footer li
{
display: inline;
}




footer .copyright
{
text-align: center;
padding: 10px;
}

.contentMeta
{
  float: left;
  width: 300px;
}




