% if c.parts:
<% 
if c.path:
  subpath = "/%s" % c.path
else:
  subpath = ""

if c.version and c.versions and c.version == c.versions[-1]:
    c.latest = True
    urlext = ""
else:
    c.latest= False
    urlext = "?version=%s"%c.version
%>
<ul>
% for part in c.parts:
%   if not part.startswith('3=') and not part.startswith('4='):
<% 
p1 = "_".join(c.silo_name.split(".")) 
p2 = "_".join(c.id.split(":"))
p3 = "_".join( "_".join(part.split(".")).split(" ") )
lid = "%s_%s_%s"%(p1,p2, p3)
if type(c.parts).__name__ == 'dict' and c.parts[part]:
    sz = h.bytes_to_english(c.parts[part].st_size)
    ext = "(%s)"%sz
else:
    ext = ""
%>
<li id="${lid}">${part} ${ext}
<a href="/${c.silo_name}/datasets/${c.id}${subpath}/${part}${urlext}"><img src="/static/styles/images/view_icon_32.png" title="view or download file"></a>
%     if part.endswith('.zip'):
    <a href="/${c.silo_name}/items/${c.id}${subpath}/${part}${urlext}"><img src="/static/styles/images/view_zip_icon_32.png" title="View contents of zip file"></a>
%     endif
%     if c.latest:
<a class="delete" href="/${c.silo_name}/datasets/${c.id}${subpath}/${part}" data-remove="${lid}"
  data-url="/${c.silo_name}/datasets/${c.id}${subpath}">
  <img src="/static/styles/images/delete-icon-24.png"  title="delete file">
</a>
%     endif
</li>
%   endif
% endfor

</ul>
% endif
