# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title>About DataBank</title>
</%def>

<p>info on project goes here goes here...</p>

<h2>Background</h2>


<h2>Documentation</h2>


<ul>
	<li><a href="https://damssupport.ouls.ox.ac.uk/trac/databank/wiki/DatabankFeatures" >Databank features</a>
	
		<ul>
			<li><a href="https://damssupport.ouls.ox.ac.uk/trac/databank/wiki/DatabankFeatures#ThestructureofdatawithintheDataBankinterface" >Structure of data within the Databank interface</a></li>

			<li><a href="https://damssupport.ouls.ox.ac.uk/trac/databank/wiki/DatabankFeatures#WorkingwithDataBank" >Workflow</a></li>
		</ul>
	</li>

	<li><a href="https://damssupport.ouls.ox.ac.uk/trac/databank/wiki/DatabankArchitecture" >Architecture of Databank</a></li>

	<li><a href="https://damssupport.ouls.ox.ac.uk/trac/databank/wiki/metadataSchema" >How and why to add user metadata</a></li>

	<li><a href="https://damssupport.ouls.ox.ac.uk/trac/databank/wiki/userRoles" >User roles supported in Databank</a></li>

	<li><a href="https://damssupport.ouls.ox.ac.uk/trac/databank/wiki/embargoPolicy" >Databank Embargo Policies: Accessing data within Databank</a></li>

	<li><a href="https://damssupport.ouls.ox.ac.uk/trac/databank/wiki/doiPolicy" >DOIs for data packages: Publishing the Data in Databank</a></li>
	
	<li><a href="https://damssupport.ouls.ox.ac.uk/trac/databank/wiki/doiPolicy"></a></li>
</ul>