# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title>About DataBank</title>
</%def>
<h1>About Databank</h1>
<div class="about">
<p>Databank is being developed by the <a href="http://www.bodleian.ox.ac.uk/bdlss">Bodleian Digital Library Systems and Services</a> of the <a href="http://www.ox.ac.uk/">University of Oxford</a> as a part of the <a href="http://www.dataflow.ox.ac.uk/">Dataflow project</a></p>

<p>DataFlow is creating a two-stage data management infrastructure that makes it easy for you and your research group to work with, annotate, publish, and permanently store your research data. You manage this locally using your own instance of <a href="http://www.dataflow.ox.ac.uk/index.php/about/about-datastage">DataStage</a>, while allowing your institution to deploy <a href="http://www.dataflow.ox.ac.uk/index.php/about/about-databank">DataBank</a> easily to preserve and publish your most valuable datasets.</p>

<p>Published datasets have assigned DOIs to make them citable and to gain you academic credit.</p>

<p>Want to test-drive the system?  Help develop it?  <a href="http://www.dataflow.ox.ac.uk/index.php/about">Learn more</a> and <a href="http://www.dataflow.ox.ac.uk/index.php/users">Join us!</a></p>
</div>
