# -*- coding: utf-8 -*-
<form class="alter_silo" method="POST" enctype="multipart/form-data" action="/${c.silo}/admin" accept-charset="UTF-8">
<div>
<label for="alterSiloName">Silo label</label>
<input id="alterSiloName" type="text" name="silo" value="${c.silo}" readonly="readonly"/>
</div>
% if c.roles and "admin" in c.roles:
  <div>
  <label for="addSiloAdministrators">Add Administrators (comma separated userids):</label>
  <input id="addSiloAdministrators" type="textbox" name="administrators"/>
  </div>
% endif
  <div>
  <label for="addSiloManagers">Add Managers (comma separated userids):</label>
  <input id="addSiloManagers" type="textbox" name="managers"/>
  </div>
  <div>
  <label for="addSiloSubmitters">Add Submitters (comma separated userids):</label>
  <input id="addSiloSubmitters" type="textbox" name="submitters"/>
  </div>
<div><input type="submit" value="Add users to silo"/></div>
</form>
</p>
