# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title>Admin Interface - ${c.silo} </title>
</%def>
<h1>Admin Interface - ${c.silo}</h1>
% if c.message:
<p><span style="color:red;">${c.message}</span></p>
% endif
<h2>Silo Metadata</h2>
<%include file="/silo_metadata.html"/>
<hr/>
<h2 id="delete_${c.silo}"><a class="delete" href="/${c.silo}/admin" data-remove="delete_${c.silo}">Delete this silo</a> - NO UNDO!</h2>
<hr/>
<h2>Alter silo metadata</h2>
<%include file="/alter_silo.html"/>
<!-- <%include file="/register_new_user.html"/>-->
