# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title>Admin Interface - ${c.silo_name} </title>
</%def>
<h1>Admin Interface - ${c.silo_name}</h1>
% if c.silo_name:
<h3> Admin ${c.silo_name}</h3>
% if c.message:
<p><span style="color:red;">${c.message}</span></p>
% endif
<hr/>
<h4 id="delete_${c.silo_name}"> <a class="delete" href="/${c.silo_name}/admin" data-remove="delete_${c.silo_name}">Delete this silo - NO UNDO!</a></h4>
<hr/>
% endif
<%include file="/silo_metadata.html"/>
<hr/>
<%include file="/alter_silo.html"/>
<hr/>
<!-- <%include file="/register_new_user.html"/>-->
