# -*- coding: utf-8 -*-
<p> Alter Silo </p>
<p>
<form method="POST" enctype="multipart/form-data" action="/admin/${c.silo_name}">
<ul>
<li><label for="silo">Silo label (eg 'a' -> /a/datasets/...)</label><input type="hidden" name="silo" value="${c.silo_name}" /> ${c.silo_name}</li>
% if c.kw:
<li><label for="title">Title:</label><input type="text" name="title" value="${c.kw.get('title')}"/></li>
<li><label for="description">Description:</label><input type="textbox" name="description"  value="${c.kw.get('description')}"/></li>
<li><label for="notes">Notes:</label><input type="textbox" name="notes"  value="${c.kw.get('notes')}"/></li>
<li><label for="owners">Owners (comma separated userids):</label><input type="textbox" name="owners"  value="${c.kw.get('owners')}"/></li>
% else:
<li><label for="title">Title:</label><input type="text" name="title" /></li>
<li><label for="description">Description:</label><input type="textbox" name="description" /></li>
<li><label for="notes">Notes:</label><input type="textbox" name="notes" /></li>
<li><label for="owners">Owners (comma separated userids):</label><input type="textbox" name="owners" /></li>
% endif
<li><input type="submit" value="Alter silo metadata"/></li>
</form>
</p>
