# -*- coding: utf-8 -*-
<form class="alter_silo" method="POST" enctype="multipart/form-data" action="/${c.silo}/admin" accept-charset="UTF-8">
<div>
<label for="silo">Silo label</label>
<input type="hidden" name="silo" value="${c.silo}" /> ${c.silo}
</div>
% if c.kw:
  <div>
  <label for="title">Title:</label>
  <input type="text" name="title" value="${c.kw.get('title')}"/>
  </div>
  <div>
  <label for="description">Description:</label>
  <input type="textbox" name="description"  value="${c.kw.get('description')}"/>
  </div>
  <div>
  <label for="notes">Notes:</label>
  <input type="textbox" name="notes"  value="${c.kw.get('notes')}"/>
  </div>
  ##<div>
  ##  <label for="owners">Owners (comma separated userids):</label>
  ##  <input type="textbox" name="owners"  value="${c.kw.get('owners')}"/>
  ##</div>
  % if c.roles and "admin" in c.roles:
    <div>
    <label for="administrators">Add Administrators (comma separated userids):</label>
    <input type="textbox" name="administrators"/>
    </div>
  % endif
  <div>
  <label for="managers">Add Managers (comma separated userids):</label>
  <input type="textbox" name="managers"/>
  </div>
  <div>
  <label for="submitters">Add Submitters (comma separated userids):</label>
  <input type="textbox" name="submitters"/>
  </div>
  <div>
  <label for="disk_allocation">Disk Allocation (in Kb):</label>
  <input type="textbox" name="disk_allocation"  value="${c.kw.get('disk_allocation')}"/>
  </div>
% else:
  <div>
  <label for="title">Title:</label>
  <input type="text" name="title" />
  </div>
  <div>
  <label for="description">Description:</label>
  <input type="textbox" name="description" />
  </div>
  <div>
  <label for="notes">Notes:</label>
  <input type="textbox" name="notes" />
  </div>
  ##<div>
  ##<label for="owners">Owners (comma separated userids):</label>
  ##<input type="textbox" name="owners" />
  ##</div>
  % if c.roles and "admin" in c.roles:
    <div>
    <label for="administrators">Add Administrators (comma separated userids):</label>
    <input type="textbox" name="administrators"/>
    </div>
  % endif
  <div>
  <label for="managers">Add Managers (comma separated userids):</label>
  <input type="textbox" name="managers"/>
  </div>
  <div>
  <label for="submitters">Add Submitters (comma separated userids):</label>
  <input type="textbox" name="submitters"/>
  </div>
  <div>
  <label for="disk_allocation">Disk Allocation (in Kb):</label>
  <input type="textbox" name="disk_allocation" />
  </div>
% endif
<div><input type="submit" value="Alter silo metadata"/></div>
</form>
</p>
