# -*- coding: utf-8 -*-
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  ${ h.stylesheet_link( '/static/style.css' ) }
  ${ h.javascript_link( '/static/jquery.js' ) }
  ${self.head_tags()}
  <script type="text/javascript">
  $(document).ready( function() {

  $('a.delete').click( function() {
    var theAnchor = this;
    if ( confirm('Are you sure you want to delete this?' ) )
      $.ajax({
        type: 'DELETE',
        url: $(this).attr('href'),
        dataType: 'json',
        success: function() {
            var toRemove = $(theAnchor).attr('data-remove');
            $("#" + toRemove).remove();
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          alert("Ooooops!, request failed with status: " + XMLHttpRequest.status + ' ' + XMLHttpRequest.responseText);
        }
      });
    return false;
  });
});
  </script>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <%include file="/header.html"/>
      </div>
      <div id="widecontent">      
    <%
        user_logged_in = request.environ.get("repoze.who.identity")
        if user_logged_in:
            c.user_logged_in_name = user_logged_in['repoze.who.userid']
        current_url = request.environ.get('PATH_INFO')
    %>
        <div id="nav">
          % if c.user_logged_in_name:
            <div class="lt">Welcome ${c.user_logged_in_name}</div>
          % endif
          <div class="rt">
          % if c.user_logged_in_name:
            <a href="/logout_handler?came_from=${current_url}">Logout</a>
          % else:
            <a href="/login?came_from=${current_url}">Login</a>
          % endif
          </div>
          <br/>
          <div class="lt">
          <ul>
            <li> <a href="/silos">Silos</a></li>
            % if c.silo_name:
              <li><a href="/${c.silo_name}/datasets">${c.silo_name}</a></li>
            % endif 
          </ul>
          </div>
          <br/>
          <div class="rt">
          % if c.ident and 'role' in c.ident and c.ident['role'] in ["admin", "manager", "user"]:
            % if c.ident and c.ident['role'] in ["admin", "manager"] and c.silo_name:
              % if c.ident and c.ident['role'] == "admin":
                <ul><li><a href="/admin">Admin pages</a></li>
                % if c.silo_name:
                  <ul><li><a href="/${c.silo_name}/admin">Admin ${c.silo_name}</a></li></ul>
                  <ul><li><a href="/${c.silo_name}/users">Manage users</a></li></ul>
                % endif
                </ul>
              % elif c.silo_name:
                <ul><li><a href="/${c.silo_name}/users">Manage users</a></li></ul>
              % endif
            % endif 
          % endif
          </div>
        </div>
        <br style="clear:both"/>
        % if c.id:
          % if c.path:
            <h2> Subdirectory <a href="/${c.silo_name}/datasets/${c.id}/${c.path}">${c.id}/${c.path}</a></h2>
            <h3> Root directory: <a href="/${c.silo_name}/datasets/${c.id}">${c.id}</a> </h3>
          % else:
            <h2> Root directory of <a href="/${c.silo_name}/datasets/${c.id}">${c.id}</a> </h2>
          % endif
        % endif
        ${self.body()}
      </div>
      <div id="footer">
        <%include file="/footer.html"/>
      </div>
    </div>
  </body>
</html>
