# -*- coding: utf-8 -*-
<form method="POST" enctype="multipart/form-data" action="/${c.silo_name}/datasets/${c.current}" accept-charset="UTF-8">
% if c.embargos and c.current in c.embargos and c.embargos[c.current]:
  % if c.embargos[c.current][0] == True or (isinstance(c.embargos[c.current][0], basestring) and c.embargos[c.current][0].lower() in ['true', '1', 1]):
    <label for="embargoed">Access status</label>
    <input type="radio" name="embargoed" value="true" checked="true" /> Embargoed
    <input type="radio" name="embargoed" value="false" /> Open access
    <br/><br/>
  % else:
    <label for="embargoed">Access status</label>
    <input type="radio" name="embargoed" value="true" /> Embargoed
    <input type="radio" name="embargoed" value="false" checked="true" /> Open access
    <br/><br/>
  % endif
  % if c.embargos[c.current][1]:
    <label for="embargoed_until">Embargoed until (date)</label>
    <%
     from dateutil.parser import parse
     from time import strftime
     dt_human = c.embargos[c.current][1]
     if c.embargos[c.current][1].strip():
       dt_obj = parse(c.embargos[c.current][1].strip(), dayfirst=True, yearfirst=False)
       dt_human = dt_obj.strftime('%Y-%m-%d %H:%M:%S')
    %>
    <input type="text" name="embargoed_until" value="${dt_human}" />
    <br/><br/>
  % else:
    <label for="embargoed_until">Embargoed until (date)</label>
    <input type="text" name="embargoed_until" value="" />
    <br/><br/>
  % endif
% else:
  <label for="embargoed">Access status</label>
  <input type="radio" name="embargoed" value="true" /> Embargoed
  <input type="radio" name="embargoed" value="false" checked="true" /> Open access
  <br/><br/>
  <label for="embargoed_until">Embargoed until (date)</label>
  <input type="text" name="embargoed_until" /></p>
  <br/><br/>
% endif
<div class="form_helper"><b><i>Embargoed:</i></b> only authorized users of the silo can access the data package <br />
<b><i>Open access:</i></b> all users can access the data package.</div>
<div class="form_helper"><b><i>Embargo date:</i></b> Date until which a data package should be emargoed. By default, this is set to 70 years from now</div>
<input type="submit" value="Change embargo"/>
</form>
