# -*- coding: utf-8 -*-
<form method="POST" enctype="multipart/form-data" action="/${c.silo_name}/datasets/${c.id}" accept-charset="UTF-8">
<label for="fileUpload">File:</label>
<input type="file" name="file" id="fileUpload" /> 
<br/><br/>
<label for="fileUploadName">Filename:</label>
<input id="fileUploadName" type="text" name="filename" placeholder="alternate name for file"/>
<div class="form_helper">Filename is optional. Use it to specify a new filename for the file being uploaded.</div>
<input type="submit" value="Add File"/>
</form>
