# -*- coding: utf-8 -*-
% if c.zipfile:
<form style="margin:0px;" method="POST" action="/${c.silo_name}/items/${c.id}" accept-charset="UTF-8">
<table style="margin:0px 0px 5px 0px; padding: 0px 5px 0px 0px;"><tr>
<% 
c.disp = c.zipfile.strip().strip('/').split('/')[-1]
if len(c.disp) > 50:
    c.disp = "...%s"%c.disp[-50:]
%>
<td align="left" width="150px"><b><a href="/${c.silo_name}/datasets/${c.id}/${c.zipfile}">${c.disp}</a></b></td>
% if c.newid:
<td align="left" width="500px">Id (optional) :<input type="text" name="id" value="${c.newid}" style="width:400px"/></td>
% else:
<td align="left" width="500px">Id (optional) :<input type="text" name="id" style="width:400px"/></td>
%endif
<td align="left" width="80px"><input type="submit" name="Unpack" value="Unpack"/>
<input type="hidden" name="filename" value="${c.zipfile}"/></td>
</tr></table>
</form>
%endif
