# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title> Databank </title>
</%def>
<h1>Welcome to DataBank</h1>
<div class="intro" >
	<p>Store, archive, publish and access your data from the web using Databank.</p>
</div>
<div class="pleaseNote" >
	<p>DataBank has a simple restful <a href="/api">api</a> and uses a rdf-enhanced pair tree store which can be used by other data services to archive data in Databank, as is used by <a href="http://www.dataflow.ox.ac.uk/index.php/about/about-datastage" target="_blank">DataStage</a></p>	
	<p>DataBank is a pilot system, still under devlopment.</p>
	<p>We are a part of the <a href="http://www.dataflow.ox.ac.uk/" target="_blank">Dataflow project</a></p>	
</div>

<div class="bigUp">
<a class="callToAction"  href="/silos">browse data packages</a>
</div>


<h2>How to use Databank</h2>

<p>The admin credentials used in this demo instance of Databank are <br><b>username:</b> <i>admin</i> <br> <b>Password:</b> <i>test</i></p>




<h3>Using the Databank API</h3>

<p>Data can be submitted into Databank by using the Databank API. The API provides a restful web interface to all of Databank's features. 
</p>

<ul>
	<li><a href="/api"> Databank API documentation </a></li>

	<li><a href="https://damssupport.ouls.ox.ac.uk/trac/databank/wiki/DatabankFeatures#Testcoverageofdatabank" >Test coverage of databank</a></li>

	<li><a href="https://github.com/dataflow/RDFDatabank/tree/master/docs/using_databank_api" >Using the API - example code in Python</a></li>
</ul>

<h3>Running your own instance of Databank</h3>
<p>Databank is written in Python. The Databank code is licensed under <a href="http://en.wikipedia.org/wiki/MIT_License" >MIT</a> and can be checked out from <a href="https://github.com/dataflow/RDFDatabank" >https://github.com/dataflow/RDFDatabank</a>
</p>

<p>For instructions on installing Databank, follow <a href="https://raw.github.com/dataflow/RDFDatabank/master/docs/Databank_VM_Installation.txt" >this document</a></p>

<a href="mailto:dataflow-devel@googlegroups.com"> Get in touch with the developers of Databank</a>

