# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title> Databank </title>
</%def>
<h1>Databank</h1>
<p>Oxford DataBank is a small collection of non-bibliographic works created by Oxford researchers. The purpose of DataBank is to provide a pilot version of a robust and efficient system for the safe storage of and open access to (where appropriate) Oxford research data. Content could be described as .data produced as a result of academic research.. Items might comprise files such as spreadsheets, databases, audio files and images (still and moving). Numerical or other data might be raw data or the data may have been manipulated or processed in some way.</p>

<p>DataBank is not intended to store large-scale data sets such as grid data or other vast data sets. Neither is it intended to replace national, subject or other established data collections. It is envisaged that the future role of DataBank will be to provide a secure and accessible store of small to medium-sized files which have no other option for similar safe storage. The role of DataBank will be clarified as Oxford University works towards a solution for the storage of and access to its research data. Please note DataBank is a pilot system and still under development.</p>

<p>Users should adhere to the terms and conditions stated for each item.</p>

<div align="center"><h2><a href="/silos">Browse Data packages</a></h2></div>
