# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title> Databank </title>
</%def>

<h1>Welcome to DataBank</h1>
<div class="intro">
	<p>Store, archive, publish and access your data from the web using Databank.</p>
</div>

<div class="pleaseNote">
<p>DataBank is a repository that will keep data safe in the long term. </p>
<p>You can use Databank to store, retrieve and publish data at any time, from anywhere on the web. You can accomplish these tasks using </p>
<ul>
<li>The simple web interface of a hosted instance of Databank; as in this website you are viewing</li>
<li>Form another service, using the Databank API </li>
<li>Run your own instance of Databank</li>
</ul>
</div>

<div class="bigUp">
<a class="callToAction" href="/silos">browse data packages</a>
</div>

<div class="pleaseNote">
<h3>Using the web interface</h3>
<p>To get started, <a href="https://github.com/dataflow/RDFDatabank/wiki">read this document on the Databank wiki</a></p>
<p>The admin credentials used in this demo instance of Databank are <br><br><b>username:</b> admin <br><b>Password:</b> test </p>	
</div>

<div class="pleaseNote">
<h3>Using the Databank API</h3>
<p>The API provides a restful web interface to all of Databank's features.  Documentation on the API</p>
<ul>
<li><a href="/api"> Databank API documentation </a></li>
</ul>
</div>

<div class="pleaseNote">
<h3>Running your own instance of Databank</h3>
<p>Databank is written in Python. The Databank code is licensed under <a href="http://en.wikipedia.org/wiki/MIT_License">MIT</a> and can be checked out from <a href="https://github.com/dataflow/RDFDatabank">https://github.com/dataflow/RDFDatabank</a></p>
<p>For instructions on installing Databank, follow <a href="http://www.dataflow.ox.ac.uk/index.php/databank/db-download">this document</a></p>
<p><a href="mailto:dataflow-devel@googlegroups.com"> Get in touch with the developers of Databank</a></p>
</div>

