# -*- coding: utf-8 -*-
<div id="globalWrapper">
<h2>Items</h2>
<!-- ========== /{silo name}/items ========== -->
<h3 class="Section-">
<a class="toc" name="toc-Section-1"></a>/{silo name}/items
</h3>
<i><b>Controller: items &nbsp;&nbsp;&nbsp;&nbsp;action: siloview</b></i>
<div class="List">
<span class="List-entry">GET</span><span class="List-contents">Accept: *, authd - Returns 403, Forbidden</span>
</div>
<div class="List">
<span class="List-entry">POST,PUT,DELETE</span><span class="List-contents">NOOP</span>
</div>

<!-- ========== /{silo name}/items/{id} ========== -->
<h3 class="Section1-1">
<a class="toc" name="toc-Section-2"></a>/{silo name}/items/{id}
</h3>
<i><b>Controller: items &nbsp;&nbsp;&nbsp;&nbsp;action: datasetview</b></i>
<div class="List">
<span class="List-entry">GET</span><span class="List-contents">Accept: *, authd - Returns an HTML 
page with list of zipfiles in <i>{id}</i> with form to unpack the zip file</span>
</div>
<div class="List">
<span class="List-entry">POST</span><span class="List-contents">Unpack file. Create new dataset containing upacked file contents</span>
</div>
<ul>
<li class="nested">
<div class="List">
<span class="List-entry">Parameters</span><span class="List-contents">-&gt; filename = {name of file to be unpacked, including the path} <br />-&gt;
Id={(Optional)}. if Id is not supplied, the default dataset id for the new dataset will be {dataset_id}-{file_name}</span>
</div>
<div class="List">
<span class="List-entry">Returns:</span><span class="List-contents">Accept:text/html - 302 to splash
 page for newly created dataset</span>
</div>
<div class="List">
<span class="List-entry">Returns:</span><span class="List-contents">Accept:* 200/201 on update/creation of dataset; 404 if file not found; 415 if file isn't a zip file; 400 if no filename or if unzipping fails</span>
</div>
</li>
</ul>

<!-- ========== /{silo name}/items/{id}/{path} ========== -->
<h3 class="Section1-1">
<a class="toc" name="toc-Section-2"></a>/{silo name}/items/{id}/{path}
</h3>
<i><b>Controller: items &nbsp;&nbsp;&nbsp;&nbsp;action: itemview</b></i>
<div class="List">
<span class="List-entry">GET</span><span class="List-contents">Accept: *, authd - Returns an HTML 
page with list of zipfiles in <i>{id}</i> with form to unpack the zip file</span>
</div>
<div class="List">
<span class="List-entry">POST</span><span class="List-contents">Unpack file. Create new dataset containing upacked file contents</span>
</div>
<ul>
<li class="nested">
<div class="List">
<span class="List-entry">Parameters</span><span class="List-contents">-&gt; Id={(Optional)}. if Id is not supplied, the default dataset id for the new dataset will be {dataset_id}-{file_name}</span>
</div>
<div class="List">
<span class="List-entry">Returns:</span><span class="List-contents">Accept:text/html - 302 to splash
 page for newly created dataset</span>
</div>
<div class="List">
<span class="List-entry">Returns:</span><span class="List-contents">Accept:* 200/201 on update/creation of dataset; 404 if file not found; 415 if file isn't a zip file; 400 if no filename or if unzipping fails</span>
</div>
<!-- ========== END ========== -->
</div>
