# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title> List of zipped packages </title>
</%def>
% if c.silo_name and c.id and c.zipfiles:
<h1> List of package unpack endpoints</h1>
<ul>
% for zf in c.zipfiles:
<%
c.zipfile = zf
c.newid = c.zipfiles[zf]
%>
<li><b>${zf}</b> : 
<a href="/${c.silo_name}/items/${c.id}/${zf}">View</a> &nbsp;&nbsp; | &nbsp;&nbsp;
<a href="/${c.silo_name}/datasets/${c.id}/${zf}">Download</a> &nbsp;&nbsp;
<%include file="/files_unpack2.html"/><br /><br />
</li>
% endfor
</ul>
% endif
