% if c.parts:
<dt><b>List of items</b></dt>
<ul>
<% 
if c.path:
  subpath = "/%s" % c.path
else:
  subpath = ""
%>
% if c.version:
% for part in c.parts:
%   if not part.startswith('3=') and not part.startswith('4='):
%     if type(c.parts).__name__ == 'dict' and c.parts[part]:
<li id="${"_".join(c.silo_name.split("."))}_${"_".join(c.id.split(":"))}_${"_".join( "_".join(part.split(".")).split(" ") )}"><a href="/${c.silo_name}/datasets/${c.id}${subpath}/${part}/version${c.version}">${part}</a> ${h.bytes_to_english(c.parts[part].st_size)} </li>
%     else:
<li id="${"_".join(c.silo_name.split("."))}_${"_".join(c.id.split(":"))}_${"_".join( "_".join(part.split(".")).split(" ") )}"><a href="/${c.silo_name}/datasets/${c.id}${subpath}/${part}/version${c.version}">${part}</a> </li>
%     endif
%   endif
% endfor
% else:
% for part in c.parts:
%   if not part.startswith('3=') and not part.startswith('4='):
%     if type(c.parts).__name__ == 'dict' and c.parts[part]:
<li id="${"_".join(c.silo_name.split("."))}_${"_".join(c.id.split(":"))}_${"_".join( "_".join(part.split(".")).split(" ") )}"><a href="/${c.silo_name}/datasets/${c.id}${subpath}/${part}">${part}</a> ${h.bytes_to_english(c.parts[part].st_size)} - <small><small><a class="delete" href="/${c.silo_name}/datasets/${c.id}${subpath}/${part}" data-remove="${"_".join(c.silo_name.split("."))}_${"_".join(c.id.split(":"))}_${"_".join( "_".join(part.split(".")).split(" ") )}">(remove)</a></small></small></li>
%     else:
<li id="${"_".join(c.silo_name.split("."))}_${"_".join(c.id.split(":"))}_${"_".join( "_".join(part.split(".")).split(" ") )}"><a href="/${c.silo_name}/datasets/${c.id}${subpath}/${part}">${part}</a> - <small><small><a class="delete" href="/${c.silo_name}/datasets/${c.id}${subpath}/${part}" data-remove="${"_".join(c.silo_name.split("."))}_${"_".join(c.id.split(":"))}_${"_".join( "_".join(part.split(".")).split(" ") )}">(remove)</a></small></small></li>
%     endif
%   endif
% endfor
% endif



</ul>
% endif
