# -*- coding: utf-8 -*-
<form class="create_user" method="POST" enctype="multipart/form-data" action="/users" accept-charset="UTF-8">
<div><label for="newUserUsername">Username:</label><input id="newUserUsername" type="textbox" name="username" /></div>
<div><label for="newUserPassword">Password:</label><input id="newUserPassword" type="password" name="password" /></div>
<div><label for="newUserFirstname">Firstname:</label><input id="newUserFirstname" type="text" name="firstname" /></div>
<div><label for="newUserLastname">Lastname:</label><input id="newUserLastname" type="text" name="lastname" /></div>
<div><label for="newUserName">Display name:</label><input id="newUserName" type="textbox" name="name" /></div>
<div><label for="newUserEmail">Email</label><input id="newUserEmail" type="text" name="email" /></div>
<div><input type="submit" value="Create new user"/></div>
</form>
