# -*- coding: utf-8 -*-
<form class="create_user" method="POST" enctype="multipart/form-data" action="/users" accept-charset="UTF-8">
<div><label for="username">Username:</label><input type="textbox" name="username" /></div>
<div><label for="password">Password:</label><input type="password" name="password" /></div>
<div><label for="firstname">Firstname:</label><input type="text" name="firstname" /></div>
<div><label for="lastname">Lastname:</label><input type="text" name="lastname" /></div>
<div><label for="name">Display name:</label><input type="textbox" name="name" /></div>
<div><label for="email">Email</label><input type="text" name="email" /></div>
<div><input type="submit" value="Create new user"/></div>
</form>
