# -*- coding: utf-8 -*-
<%inherit file="/base.html" />

<%def name="head_tags()">
  <title> Advanced Search</title>

% if c.search and c.q:
  <link rel="alternate" type="application/atom+xml" href="${c.add_facet}&format=atom&rows=c.rows&sort=score+desc" title="Search results for \"${c.q}\""/>
% endif

</%def>
<%def name="header()">
</%def>
<%def name="footer()">
</%def>

<div id="facet_wrapper">
<% count = 0 %>
<div id="facet_container_adv">
% if c.returned_facets:
% for facet in c.returned_facets:
<% count = count + 1 %>
% if c.returned_facets[facet] and len(c.returned_facets[facet]) > 1:
<div class="facet_results">
<div id="fs${count}" class="subheading"><a id="fh${count}" href="#" >${c.field_names[facet]}</a></div>
<div id="fl${count}" class="facetlist">
<ul>
%     for result,value in c.returned_facets[facet]:
<li><span class="label">
<%
from urllib import quote
try:
   res = quote(result)
except:
   res = result
if len(result) > 40:
    res_label = result[:40] + '...'
else:
    res_label = result
%>
<a href="${c.add_facet + u'&filter%s="%s"&rows=%d&sort=%s' % (facet, res, c.rows, c.sort)}" title="${result}">${res_label}
<span class="value">(${value})</span> <a/></span></li>
%     endfor
</ul>
</div>
</div>
% endif
% endfor
</div>
% endif
</div>
</div>

<![if !IE]>
<script type="text/javascript">
	$(document).ready(function() {
	
	function fhAdjust(){
		//Make sure facets do not stick beneath footer
		$navh = $('#facet_wrapper').height();
		$navh = $navh + 211;
		$wrah = $('#wrapper').height();
		if ($navh > $wrah) {
			$('#wrapper').css("height", $navh + 100);
		} else {
			$mainh = $('#main').height();
			$mainh = $mainh + 91;
			if ($mainh > $navh){
				$('#wrapper').css("height", $mainh + 100);
			} else {
				$('#wrapper').css("height", $navh + 100);
			}
		}
	}
	
	function bindItem(ind){
		$('#fh' + ind).click(function(event) {
			event.preventDefault();
			if ($('#fl' + ind).hasClass("closed")){
			$('#fl' + ind).show();
			$('#fl' + ind).removeClass("closed");
			$('#fh' + ind).css("background-image", "url('/styles/images/fminus.png')");
			$('#fs' + ind).css("background-color", "#EEE");
			} else {
			$('#fl' + ind).hide();
			$('#fl' + ind).addClass("closed");
			$('#fh' + ind).css("background-image", "url('/styles/images/fplus.png')");
			$('#fs' + ind).css("background-color", "#BBB");
			}
			fhAdjust();
		});
	}

	for (i=1;i<=${count};i++){
	//Facet Toggle
	$('#fl'+i).hide();
	$('#fl'+i).addClass("closed");
	bindItem(i);
	}

});
</script>
<![endif]>

<!--[if lte IE 8]>
<script type="text/javascript">
	$(document).ready(function() {
		
	function fhAdjust(){
		//Make sure facets do not stick beneath footer
		$navh = $('#facet_wrapper').height();
		$navh = $navh + 211;
		$wrah = $('#wrapper').height();
		if ($navh > $wrah) {
			$('#wrapper').css("height", $navh + 100);
		} else {
			$mainh = $('#main').height();
			$mainh = $mainh + 91;
			if ($mainh > $navh){
				$('#wrapper').css("height", $mainh + 100);
			} else {
				$('#wrapper').css("height", $navh + 100);
			}
		}
	}

	function bindItem(ind){
		$('#fh' + ind).click(function(event) {
			event.preventDefault();
			if ($('#fl' + ind).hasClass("closed")){
			$('#fl' + ind).show();
			$('#fl' + ind).removeClass("closed");
			$('#fh' + ind).css("background-image", "url('/styles/images/fminus.png')");
			$('#fs' + ind).css("background-color", "#EEE");
			} else {
			$('#fl' + ind).hide();
			$('#fl' + ind).addClass("closed");
			$('#fh' + ind).css("background-image", "url('/styles/images/fplus.png')");
			$('#fs' + ind).css("background-color", "#BBB");
			}
			fhAdjust();
		});
	}

	for (i=1;i<=${count};i++){
	//Facet Toggle
	$('#fl'+i).addClass("closed");
	bindItem(i);
	}

});
</script>
<![endif]-->
