# -*- coding: utf-8 -*-
<div id="search">
<form method="GET" enctype="multipart/form-data" action="/search/detailed" accept-charset="UTF-8">
<p>
<label for="q">Search</label>
% if c.q and c.q != "*:*":
<input id="q" type="text" name="q" value="${c.q}"/>
% else:
<input id="q" type="text" name="q" placeholder="search data packages"/>
% endif
<input type="submit" value="Search"/>
</p>
<p>
% if c.typ:
%   if 'silo' in c.typ:
<input type="radio" name="type" value="silo" checked="checked"/> Silo
%   else:
<input type="radio" name="type" value="silo"/> Silo
%   endif
%   if 'dataset' in c.typ:
<input type="radio" name="type" value="dataset" checked="checked"/> Data packages
%   else:
<input type="radio" name="type" value="dataset" /> Data packages
%   endif
%   if 'item' in c.typ:
<input type="radio" name="type" value="item" checked="checked"/> File names 
%   else:
<input type="radio" name="type" value="item" /> File names 
%   endif
%   if 'all' in c.typ:
<input type="radio" name="type" value="all" checked="checked"/>Any
%   else:
<input type="radio" name="type" value="all"/> Any
%   endif
% else:
<input type="radio" name="type" value="silo" /> Silo
<input type="radio" name="type" value="dataset" /> Data packages
<input type="radio" name="type" value="item" /> File names 
<input type="radio" name="type" value="all" checked="checked"/>Any
% endif
</p>
<input type="hidden" name="fl" value="*,score"/>
<input type="hidden" name="format" value="html"/>
</form>
</div>
