# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title>Users - ${c.silo} </title>
<script type="text/javascript">
<!--
    function showhide(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
//-->
</script>

</%def>
<h1> Users in ${c.silo}</h1>
% if c.message:
<p><span style="color:red;">${c.message}</span></p>
% endif

<div id="editor_view">
  <h2>Edit options</h2>
  <ul class="stateInfo">
  <li><a href="#add_members" onclick="showhide('add_members');">
    <img src="/static/styles/images/user-group-add-24.png"/>Add users to silo</a></li>
  <li><a href="/${c.silo}/admin">
    <img src="/static/styles/images/silo-edit-icon-24.png"/>Edit silo metadata</a></li>
  <li><a href="#add_user" onclick="showhide('add_user');">
    <img src="/static/styles/images/user-add-icon-24.png"/>Create new user</a></li>
  <li><a href="/users">
    <img src="/static/styles/images/user-group-icon-24.png"/>View users</a></li>
  <li><a href="/admin">
    <img src="/static/styles/images/silo-view-icon-24.png"/>View silos</a></li>
  </ul>
</div>


%if c.users:
  <ul>
  % for u in c.users:
    % if 'name' in u and u['name']:
      <li><a href="/${c.silo}/users/${u['user_name']}">${u['name']}</a>
    % else:
      <li><a href="/${c.silo}/users/${u['user_name']}">${u['firstname']} ${u['lastname']}</a>
    % endif
    <a class="delete" href="/${c.silo}/users/${u['user_name']}" data-remove="delete_${c.silo}_${u['user_name']}" data-url="/${c.silo}/users">
    <img src="/static/styles/images/user-delete-icon-16.png" alt="Delete user from silo" title="Delete ${u['user_name']} from ${c.silo}"/></a>
    <ul class="metadata">
      <li><span class="displayLabel">Username</span> (${u['user_name']})</li>
      <li><span class="displayLabel">Role</span>${u['permission']}</li>
    </ul></li>
  % endfor
  </ul>
% endif

<div id="add_members" class="edit_section" style="display: none;">
<a name="add_members"></a>
<h2>Add users to silo</h2>
<%include file="/add_users_to_silo.html"/>
<div class="top"><a href="#top" onclick="showhide('add_members');" title="Back to top"><img src="/static/styles/images/go-up-icon-24.png"/></a></div>
</div>

<div id="add_user" class="edit_section" style="display: none;">
<a name="add_user"></a>
<h2>Create new user</h2>
<%include file="/register_new_user.html"/>
<div class="top"><a href="#top" onclick="showhide('add_user');" title="Back to top"><img src="/static/styles/images/go-up-icon-24.png"/></a></div>
</div>

