# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title> Admin Interface - List of Silos </title>
</%def>
<h1>Admin Interface - List of Silos</h1>
% if c.granary_list:
<h3> Admin Archives:
<ul>
% for silo in c.granary_list:
<li id="delete_${silo}"><a href="/${silo}/admin"><big><big>${silo}</big></big></a> - <small><small><a class="delete" href="/${silo}/admin" data-remove="delete_${silo}">(remove)</a></small></small></li>
% endfor
</ul>
% endif
<%include file="/create_new_silo.html"/>
