# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title>User Info - ${c.username} </title>
</%def>
<h2> User info for ${c.username} in silo ${c.silo}</h2>
% if c.message:
<p><span style="color:red;">${c.message}</span></p>
% endif
% if c.user:
  <ul class="metadata">
  <li><label for="username">Username:</label>${c.username}</li>
  
  % if 'firstname' in c.user and c.user['firstname']:
    <li><label for="firstname">Firstname:</label>${c.user['firstname']}</li>
  % endif
  % if 'lastname' in c.user and c.user['lastname']:
    <li><label for="lastname">Lastname:</label>${c.user['lastname']}</li>
  % endif
  % if 'name' in c.user and c.user['name']:
    <li><label for="name">Name:</label>${c.user['name']}</li>
  % endif
  % if 'email' in c.user and c.user['email']:
    <li><label for="email">Email:</label>${c.user['email']}</li>
  % endif
  % if 'groups' in c.user and c.user['groups']:
    <li><label for="roles">Roles:</label></li>
    <ul>
    % for g, p in c.user['groups']:
        <li>${p}</li>
    % endfor
    </ul>
  % endif
  </ul>
% endif
% if 'administrator' in c.ident['permissions'] or 'manager' in c.ident['permissions']:
  <h2>Modify role</h2>
  <%include file="/update_user_role.html"/>
% endif
% if c.ident['user'].user_name == c.username:
  <h2>Update user information</h2>
  <%include file="/update_user.html"/>
% endif
