# -*- coding: utf-8 -*-
<%inherit file="/base.html" />
<%def name="head_tags()">
  <title>Users </title>
<script type="text/javascript">
<!--
    function showhide(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
//-->
</script>

</%def>
<h1> Users</h1>
% if c.message:
<p><span style="color:red;">${c.message}</span></p>
% endif

<div id="editor_view">
  <h2>Edit options</h2>
  <ul class="stateInfo">
  <li><a href="#add_user" onclick="showhide('add_user');">
    <img src="/static/styles/images/user-add-icon-24.png"/>Create new user</a></li>
  <li><a href="/admin">
    <img src="/static/styles/images/silo-view-icon-24.png"/>View silos</a></li>

  </ul>
</div>

% if c.users:
  % for user in c.users:
      <h2><a href="/users/${user['user_name']}">${user['user_name']}</a>
      % if not ('groups' in user and user['groups']):
          <a class="delete" href="/users/${user['user_name']}" data-remove="delete_${user['user_name']}" data-url="/users">
    <img src="/static/styles/images/user-delete-icon-16.png" alt="Delete user" title="Delete ${user['user_name']}"/></a>

      % endif
      </h2>
      <ul class="metadata">
      <li><span class="displayLabel">Username:</span>${user['user_name']}</li>
      % if 'firstname' in user and user['firstname']:
        <li><span class="displayLabel">Firstname:</span>${user['firstname']}</li>
      % endif
      % if 'lastname' in user and user['lastname']:
        <li><span class="displayLabel">Lastname:</span>${user['lastname']}</li>
      % endif
      % if 'name' in user and user['name']:
        <li><span class="displayLabel">Display name:</span>${user['name']}</li>
      % endif
      % if 'email' in user and user['email']:
        <li><span class="displayLabel">Email:</span>${user['email']}</li>
      % endif
      % if 'groups' in user and user['groups']:
        <h3>Membership information</h3>
        <ul>
        % for g, p in user['groups']:
            % if g == '*':
              <li>Databank administrator</li>
            % else:
              <li><a href="/${g}/users/${user['user_name']}">${p} for ${g}</a></li>
            % endif
        % endfor
        </ul>
      % endif
      </ul>
  % endfor
% endif

<div id="add_user" class="edit_section" style="display: none;">
<a name="add_user"></a>
<h2>Create new user</h2>
<%include file="/register_new_user.html"/>
<div class="top"><a href="#top" onclick="showhide('add_user');" title="Back to top"><img src="/static/styles/images/go-up-icon-24.png"/></a></div>
</div>

